/* Hover effect on links */
a:hover {
    color: #555;
}
ul{
    padding-left: 2rem;
}
.info ul{
    padding-left: 0;
}
.skills ul, .personal-skills ul{
    padding-left: 2rem;
}
.row{
    position: relative;
}
/* Sidebar style */
.sidebar {
    max-height: 100vh;
    overflow: scroll;
    position: fixed;
    padding: 20px;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.content{
    margin-left: 38%;
}
/* Avatar style */
.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff; /* Add a border around the avatar */
    transition: transform 0.3s ease; /* Add a smooth transition on hover */
}

/* Add scale effect on avatar hover */
.avatar img:hover {
    transform: scale(1.05);
}

/* Info section style */
.info h1 {
    font-size: 24px; /* Increase font size */
}

.info p {
    color: #888; /* Change text color */
}



/* Add hover effect on skills items */
.skills ul li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    transition: background-color 0.3s ease; /* Add smooth transition */
}
.skills ul li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    transition: background-color 0.3s ease; /* Add smooth transition */
}
.projects h2{
    margin-bottom: 30px;
}
.project-list {
    padding-left: 2rem;
}

.education{
    margin-bottom: 30px;
}